<div class="admin_panel">
  <ul>
    <li class="heading">
      <a href="/">管理</a>
    </li>
    <li>
      <%= link_to "備品一覧", products_path%>
    </li>
    <li>
      <%= link_to "備品追加",new_product_path %>
    </li>
    <li>
      <%= link_to "ユーザの追加と承認", admin_member_request_path %>
    </li>
    <% if current_user.authority == "owner" %>
      <li>
	<%= link_to "権限の管理", admin_member_authority_path %>
      </li>
    <% end %>
    <li>
      <form class="input_box clearfix">
	<input type="text" class="l-align-left">
	<button class="l-align-right">検索</button>
      </form>
    </li>
  </ul>
</div>
