<div class="l-side-col l-grid-3-12 l-align-left">
    <div class="l-side-row">
      <%= render 'admin/menu_panel' %>
    </div>
    <div class="l-side-row">
      <%= render 'admin/usage_stats'%>
    </div>
</div>
