<div class="usage_stats">
  <h1>貸出件数</h1>
  <table>
    <thead>
      <tr>
	<th>累計</th>
	<th>今月</th>
	<th>先月</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th>5</th>
	<th>10</th>
	<th>6</th>
      </tr>
    </tbody>
  </table>
</div>
