<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <%= render "admin/side" %>
  <div class="l-grid-9-12 l-align-left">
    <h2>権限の管理</h2>
    <p class="annotation">
      オーナー(1人)：権限の管理、マネージャーができること<br>
      マネージャー(複数人)：ユーザの追加・削除、アイテムの追加・削除・編集、他人のコメントの削除、一般ユーザができること<br>
      一般ユーザ：コメントの追加、自分のコメントの削除
    </p>
    <%= image_tag "permission-desc.png" %>
    <h3>権限の変更</h3>
    <div class="block_content l-grid-row">
      aaa
    </div>
  </div>
</div>
