<div class="intro_top">
<h1>
  あなたとTansu<br>
  いますぐログイン
</h1>
<p>Tansuは洗練されたデザインとシンプルな操作感が特徴の備品管理システムです．
<br>備品の登録・管理・貸出を支援し、備品の利用促進と管理コストの縮減を実現します。
<hr>
</div>
<div class="l-grid-row intro_box clearfix">
  <div class="l-grid-1-2 l-align-left">
    <%# 動画ではなく画像を読み込みたいとき下の行の#と<ifram>~</ifram>を削除 %>
    <%#= image_tag "intro1.png", class: "intro1" %>
    <iframe width="420" height="288" src="https://www.youtube.com/embed/YUjX4trNLNg?controls=0&showinfo=0&autoplay=1&rel=" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="l-grid-1-2 l-align-left">
    <h2>ミントを想起させる<br>
      清涼なカラーデザイン</h2>
    <p>
      ミントは爽快感と冷涼感をわたしたちに与えます．<br>
      ミントの活躍はとどまるところを知らず，歯磨き粉からアイスクリームなど，様々なものに利用されています．<br>
      Tansuは全面的にミントカラーを採用したため，いつでも爽快感を感じながら備品管理をすることが出来ます．
    </p>
  </div>
</div>
<div class="l-grid-row intro_box clearfix">  
  <div class="l-grid-1-2 l-align-left">
    <h2>スマホにも一応対応</h2>
    <p>そこそこスマホからでも使えます。<br>
      スマホ対応をすることで、開発工数が大幅に増えることをご存知ですか？
      Tansuでは、PC版のデザインを大胆に使いまわすことで大幅な工数の削減を実現しました。<br>
      といっても、レスポンシブデザインではありません。PC版とスマートフォン版で、違うページを配信しています。<br>
      また、中途半端なスマホ版表示が気に入らない人向けに、スマートフォンからPC版の表示に切り替え機能も用意しました。
      <br>※スマートフォン版では一部機能が対応していません。</p>
  </div>
  <div class="l-grid-1-2 l-align-left">
    <%= image_tag "intro2.png", class: "intro2"%>
  </div>
</div>
