<div class="intro_top">
<h1>
  あなたとTansu<br>
  いますぐログイン
</h1>
<p>Tansuは洗練されたWebUIとシンプルな操作感が特徴の備品管理システムです．
<br>備品の登録・管理・貸出を支援し，組織を成功へと導きます．</p>
<hr>
</div>
<div class="l-grid-row intro_box clearfix">
  <div class="l-grid-1-2 l-align-left">
    <%= image_tag "intro1.png", :alt => "動作画面" %>
  </div>
  <div class="l-grid-1-2 l-align-left">
    <h2>ミントを想起させる<br>
      清涼なカラーデザイン</h2>
    <p>
      ミントは爽快感と冷涼感をわたしたちに与えます．<br>
      ミントの活躍はとどまるところを知らず，歯磨き粉からアイスクリームなど，様々なものに利用されています．<br>
      Tansuは全面的にミントカラーを採用したため，いつでも爽快感を感じながら備品管理をすることが出来ます．
      
    </p>
  </div>
</div>
