<div class="l-grid-row">
  <h2 class="block_heading">新しい備品</h2>
</div>
<div class="l-grid-row clearfix">
  <% @products.each do |product| %>
  <div class="l-grid-2-12 l-align-left">
    <div class="product_small">
      <div class="info l-grid-row">
	<span>
	  <%= l product.created_at, format: :short %>
	</span>
      </div>
      <%= link_to image_tag(product.image.url), product_path(product)%>
      <%= link_to truncate(product.name, :length => 30, :separator => "..."), product_path(product)%>
    </div>
  </div>
  <% end %>
</div>
<div class="l-grid-row see_more">
  <a href="/">さらにみる</a>
</div>
