<div class="l-constrained">
  <% if user_signed_in? %>
    <% if current_user.member? %>
      <%= render "home/home"  %>
    <% else %>
      <%= render "home/pending"%>
    <% end %>
  <% else %>
    <%= render "home/introduction"%>
  <% end %>
</div>
