<div class="l-footer">
  <div class="footer"> 
    <div class="l-constrained">
      <ul class="footer-nav clearfix">
      	<li class="footer-nav-item l-align-left">
      	  <%= link_to "ホーム", root_path %>
      	</li>
      	<li class="footer-nav-item l-align-left">
      	  <%= link_to "新しい備品", products_path %>
      	</li>
        <li class="footer-nav-item l-align-left">
          <%= link_to "貸出中の備品", lendings_path%>
        </li>
      	<li class="footer-nav-item l-align-left">
      	  <%= link_to "新しいレビュー", comments_path%>
      	</li>
      </ul>
    </div>
  </div>
  <% if cookies[:view_selector] == "disabled" %>
    <div class="view_toggle">
      <span>スマートフォン版に切替</span>
    </div>
    <script>
     $(".view_toggle > span").on("click",function(){
	 Cookies.set('view_selector', "enabled");
	 location.reload();
     });
    </script>
  <% end %>
</div>
