$primary: #33cccc; 
$primary-dark: #339999;
$primary-light: #ace9ea;

/*
$primary: #76C7D7;
$primary-dark:#67afbc;
$primary-light: #83dfef;
*/

$warning: #ed5a5a;
$warning-dark: #ea4848;
.intro_top{
  padding:10px 0;
  h1{
    font-size:35px;
    line-height:50px;
    text-align:center;
    margin:10px 0 10px 0;
    color:$primary-dark;
  }
  p{
    font-size:18px;
    line-height:25px;
    text-align:center;
    color:$primary-dark;
  }
  hr{
    margin:10px 0 0 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #e5ffff, $primary-dark, #e5ffff);
    background-image: -moz-linear-gradient(left, #e5ffff, $primary-dark, #e5ffff);
    background-image: -ms-linear-gradient(left, #e5ffff, $primary-dark, #e5ffff);
    background-image: -o-linear-gradient(left, #e5ffff, $primary-dark, #e5ffff);
  }
}
.intro_box{
  img{
    text-align: center;
    width: 398px;
    margin: 10px 45px;
    border: 1px solid $primary;
  }
  iframe{
    width:420px;
    height:288px;
    margin:10px 30px;
    text-align:center;
    border:1px solid $primary;
  }
  h2{
    font-size:30px;
    line-height:40px;
    text-align:center;
    color:$primary-dark;
  }
  p{
    font-size:18px;
    line-height:25px;
    text-align:center;
    color:$primary-dark;
  }

}
