.l-header{
  width: 100%;
}
.l-main{
  padding:0 0 90px 0;
}
.l-footer{
  width: 100%;
  bottom:0;
  position:absolute;
}
.l-wrapper{
  min-height:100%;
  min-width:980px;
  height: auto;
  position: relative;
  overflow:hidden;
}
.l-constrained{
  width:980px;
  margin:0 auto;
}


.l-grid-1-2{
    width: 50%;
    box-sizing: border-box;
}
.l-grid-1-3{
    width: 33.3%;
    box-sizing: border-box;
}
.l-grid-2-3{
    width: 66.6%;
    box-sizing: border-box;
}
.l-grid-1-4{
    width: 25%;
    box-sizing: border-box;
}
.l-grid-2-4{
    width: 50%;
    box-sizing: border-box;
}
.l-grid-3-4{
    width: 75%;
    box-sizing: border-box;
}
.l-grid-1-8{
    width: 12.5%;
    box-sizing: border-box;
}
.l-grid-2-8{
    width: 25%;
    box-sizing: border-box;
}
.l-grid-3-8{
    width: 37.5%;
    box-sizing: border-box;
}
.l-grid-4-8{
    width: 50%;
    box-sizing: border-box;
}
.l-grid-5-8{
    width: 62.5%;
    box-sizing: border-box;
}
.l-grid-6-8{
    width: 75%;
    box-sizing: border-box;
}
.l-grid-7-8{
    width: 87.5%;
    box-sizing: border-box;
}

.l-grid-1-12{
    width: 8.33%;
    box-sizing: border-box;
}
.l-grid-2-12{
    width: 16.66%;
    box-sizing: border-box;
}
.l-grid-3-12{
    width: 24.99%;
    box-sizing: border-box;
}
.l-grid-4-12{
    width: 33.33%;
    box-sizing: border-box;
}
.l-grid-5-12{
    width: 41.66%;
    box-sizing: border-box;
}
.l-grid-6-12{
    width: 49.99%;
    box-sizing: border-box;
}
.l-grid-7-12{
    width: 58.33%;
    box-sizing: border-box;
}
.l-grid-8-12{
    width: 66.66%;
    box-sizing: border-box;
}
.l-grid-9-12{
    width: 74.99%;
    box-sizing: border-box;
}
.l-grid-10-12{
    width: 83.33%;
    box-sizing: border-box;
}
.l-grid-11-12{
    width: 91.66%;
    box-sizing: border-box;
}

.l-grid-row{
    width: 100%;
}

.l-align-right{
  float:right;
}
.l-align-left{
  float:left;
}
.l-align-center{
  clear:both;
  margin:0 auto;
}

.l-side-col{
  padding:0 20px 0 0;
}

.l-side-row{
  margin: 0 0 20px 0;
}
