$primary: #33cccc;
$primary-dark: #339999;
$primary-light: #ace9ea;
$warning: #ed5a5a;
$warning-dark: #ea4848;

.global-nav{
  height:50px;
  width:100%;
  background: $primary;
  border-bottom:1px solid $primary-dark;
  .link{
    display:inline-block;
    text-decoration:none;
    padding:0 10px;
    height:50px;
    color:#fff;
    text-align:center;
    line-height:50px;
    font-size:15px;
    vertical-align:middle;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .4),0 1px 1px rgba(255, 255, 255, .75);
    &:hover{
      background:$primary-dark;
    }
  }
  .logo{
    background: $primary-dark;
    font-size:28px;
  }
}

.footer{
  border-top:1px solid #5ecacd;
  background:$primary-light;
  padding:10px;
}
.footer-nav{
  list-style:none;
}
.footer-nav-item{
  margin:0 20px 0 0;
  font-size:14px;
  a{
    text-decoration:none;
    &:hover{
      text-decoration:underline;
    }
  }
}
.admin_panel{
  border:1px solid #555;
  border-radius:2px;
  ul{
    list-style:none;
    padding:5px;
    li{
      margin:0 10px 10px 10px;
      a{
	border:1px solid #999;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	line-height:25px;
	border-radius:2px;
	&:hover{
	  background:#ccc;
	}
      }
      &.heading{
	margin:0 0 10px 0;
	a{
	  margin:0;
	  border:1px solid #555;
	  background:#999;
	  font-size:14px;
	  line-height:25px;
	  color:#fff;
	}
      }
    }
  }
}

.user_lending_status{
  border-radius:2px;
  background:$primary;
  padding:5px;
  .tab-nav{
    button{
      display:block;
      width:90% ;
      margin: 0 auto;
      height:30px;
      border:1px solid #fff;
      border-bottom:none;
      background:none;
      outline:none;
      color     :#fff;
      font-weight:bold;
      border-radius: 2px 2px 0 0;
      &.actived{
	background:#fff;
	color:$primary-dark;
      }
    }
  }
  .tab-content{
    border-radius:2px;
    border:1px solid $primary;
    background:#fff;
    margin:-1px 0 0 0;
    ul{
      list-style:none;
      padding:5px;
      li{
	margin:5px 0;
	padding:5px 0;
	.deadline{
	  font-size:12px;
	  color:#333;
	  line-height:15px;
	  &.warning{
	    color:#990000;
	  }
	}
	.title{
	  font-size:13px;
	  color:#333;
	  text-decoration:none;
	  line-height:17px;
	  padding:2px 0;
	  &:hover{
	    text-decoration:underline;
	  }
	}
	button{
	  margin:0 0 0 2px;
	  padding:5px 3px;
	  font-size:12px;
	  background:#fff;
	  color:$primary-dark;
	  font-weight:bold;
	  border:1px solid $primary-dark;
	  border-radius:1px;
	  width:100%;
	  &:hover{
	    background:#ccc;
	  }
	}
      }
    }
  }
}

.block_heading{
  color: #fff;
  display:inline-block;
  background:$primary;
  padding:5px 20px;
  border-radius:15px;
  font-size:18px;
}
.border_heading{
  margin: 30px 0 10px 0;
  padding: 5px 0;
  color:$primary-dark;
  border-bottom:2px solid $primary-dark;
}

.block_content{
  border:1px solid $primary-dark;
}
.search_item_list{
  border:1px solid $primary-dark;
  padding:10px;
  margin:10px 0;
  min-height:200px;
  background:#eee;
  .search_item_button{
    text-align:center;
  }
}

.lending_nav{
  padding:10px 20px;
  margin: 0 0 20px 0;
  a{
    font-weight:bold;
  }
}

.link_btn{
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  border-radius: 2px;
}
.link_btn_large{
  line-height:40px;
}
.link_btn_default{
  border:1px solid #999;
  background:#fff;
  color:#999;
  &:hover{
    background:#ccc;
  }
}
.link_btn_success{
  border: 1px solid $primary-dark;
  background:#fff;
  color:$primary-dark;
  &:hover{
    background:$primary-light;
  }
}
.link_btn_twitter{
  background:#3aaaec;
  border:1px solid #1593de;
  color:#fff;
  &:hover{
    background:#1593de;
  }
}
.link_btn_github{
  background:#666;
  border:1px solid #555;
  color:#fff;
  &:hover{
    background:#555;
  }
}

.social_btns{
  margin:30px 0;
  .link_btn{
    margin:0 0 10px 0;
  }
}

.input_box{
  margin:0;
  padding:0;
  input{
    width: 70%;
    height:25px;
    margin:0;
    padding:5px;
    box-sizing:border-box;
    border-radius:2px;
    border:1px solid #999;
  }
  button{
    height:25px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    width: 25%;
    border:1px solid #555;
    background: #ccc;
    color:#555;
    border-radius:2px;
    &:hover{
      background: #999;
    }
  }
}

.product_small{
  margin:5px;
  padding:10px;
  background:#fff;
  .inner_offset{
    padding:0 10px 0 0;
  }
  .info{
    padding:0 0 5px 0;
  }
  img{
    width:100%;
    border:1px solid #555;
    height:auto;
  }
  a{
    font-size:12px;
  }
}
.product_comments{
  margin:5px;
  padding:10px 20px 10px 10px;
}
.product_comment{
  margin-top:10px;
  margin-bottom:10px;
  a{
    word-break:break-all;
    font-size:10px;
  }
  .inner_offset{
    padding:0 10px 0 0;
    text-align:center;
  }
  img{
    border:1px;
    width:30px;
    height:30px;
    border:1px solid $primary;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 340px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }
  .fbox {
    position: relative;
    display:       block;
    padding:10px ;
    text-align:left;
    background-color:$primary-light;
    margin:0;
    border-radius: 0px ;
    border-radius:2px;
    font-size:12px;
    &.font-large{
      padding:20px;
      font-size:15px;
    }
  }
  .fbox:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
  }
  .fbox:after {
    top: 2px;
    left: -20px; 
    border: 10px solid transparent;
    border-right: 15px solid $primary-light; /*13px*/
  }
}
.product_comment_form{
  textarea{
    width:100%;
    height:100px;
    padding:10px;
    font-size:13px;
    line-height:15px;
  }
  button{
    margin:10px 0 0 0;
  }
}

.see_more{
  text-align:right;
  a{
    color:$primary-dark;
    text-decoration:none;
  }
}

.signin_wrapper{
  margin:10px 0 0 0;
  .side_divider_right{
    border-right:1px solid $primary-dark;

  }
}

.anotation{
  color:#555;
  font-size:12px;
}

.pagination{
  .disabled{
    font-size:12px;
    padding:5px;
    background:#eee;
    text-decoration:none;
    border:1px solid #999;
    color:#999;
    text-align:center;
    
  }
  .current{
    font-style: normal;
    font-size:12px;
    padding:5px 5px;
    background:#eee;
    text-decoration:none;
    border:1px solid #999;
    color:#999;
    text-align:center;
  }
  a{
    font-size:12px;
    padding:5px;
    background:#fff;
    text-decoration:none;
    border:1px solid $primary-dark;
    color:$primary-dark;
    &.actived{
      background:$primary-light;
    }
    &:hover{
      background:$primary-light;
    }
  }
}

.button{
  padding: 0px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  box-sizing: border-box;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}
.button-small{
  padding: 0px 10px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  box-sizing: border-box;
  height: 20px;
  line-height:20px;
  display: inline-block;
}
.button-success{
  border:1px solid $primary-dark;
  border-radius:4px;
  background:#fff;
  color:$primary-dark;
  &:hover{
    background:$primary-light;
  }
}
.button-warning{
  border:1px solid $warning;
  border-radius:4px;
  background:$warning;
  color:#fff;
  &:hover{
    background:$warning-dark;
  }
}

.user_box{
  margin:10px;
  padding:5px;
  &:hover{
    background:#eee;
  }
  img{
    width:50px;
    height:50px;
    border:1px solid $primary;
    vertical-align:bottom;
  }

  p{
    font-size:14px;
    padding:5px 0;
  }
  .offset{
    margin:16px 0;
  }
  form{
    text-align:right;
  }
}

.usage_stats{
  padding:5px;
  border:1px solid #555;
  h1{
    font-size: 16px;
    line-height: 20px;
    color: #555;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    border-bottom: 1px solid #ccc;
  }
  table{
    width: 100%;
    th{
      width: 33%;
    }
    thead{
      tr{
	font-size: 14px;
	line-height:28px;
      }
    }
    tbody{
      tr{
	font-size: 20px;
      }
    }
  }
}
.goods_table{
  margin:20px 0;
  text-align:center;
  border-collapse: collapse;
  border-spacing: 0;
  thead{
    border:1px solid #aaa;
    font-size:16px;
    background:#eee;
    th{
      padding:3px 0;
    }
  }
  tbody{
    td{
      font-size:14px;
      border-bottom:1px solid #aaa;
      padding:4px 0;
    }
    tr:hover{
      background:#eee;
    }
  }
}
.col_goods{
  
}
.col_category{
  width:100px;
  form{
    select{
      width:100px;
      margin:0 auto;
    }
  }
}
.col_date{
  width:150px;
}
.col_times{
  width:100px;
}
.col_status{
  width:100px;
}
.col_edit{
  width:50px;
}

.invitation_form{
  padding:10px;
  form{
    textarea{
      width:100%;
      height:150px;
      border-radius:4px;
      border:1px solid #555;
    }
  }
}

.tabs{
  .tab-buttons{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      height: 37px;
      li{
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding:0px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background: #fff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	&.actived{
	  height: 37px;
	  a{
	    background:#fff;
	  }
	}
	a{
	  height:36px;
	  display:block;
	  padding:0 20px;
	  text-decoration:none;
	  background:#eee;
	}
      }
    }
  }
  .tab-contents{
    border-top:1px solid #999;
  }
  .tab-content{
    min-height:500px;
    display:none;
    padding:10px;
    box-sizing:border-box;
    &.actived{
      display:block;
    }
  }
}

.goods_form{
  padding:10px;
  &>div{
      margin:20px 0;
  }
  .input{
    width:100%;
  }
  .textarea{
    width:100%;
    height:100px;
  }
}
.form{
  padding:10px;
  &>div{
      margin:20px 0;
  }
  input{
    width:100%;
  }
  textarea{
    width:100%;
    height:100px;
  }
}

.dropdown-user{
  width: 50px;
  height: 50px;
  position: relative;

  img{
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 2px;
    padding: 5px;
    &:hover{
      background: $primary-dark;
    }
  }
}

.dropdown-panel{
  position: absolute;
  right: 0;
  top:48px;
  width: 150px;
  height: 100px;
  border:1px solid #a5a17f;
  background: #fff;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      text-align: center;
      a{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin: 5px 0 0 0;
	&:hover{
	    background: #eee;
	  }
      }
    }
  }
}

.alert{
  padding: 5px;
  border: 1px solid #555555;
  margin:0;
  border-radius: 5px;
  text-align: center;
  &.alert-notice{
    border: 1px solid $primary-dark;
    background:#fff;
  }
  &.alert-error{
    border: 1px solid $warning;
    color:$warning;
    background:#fff;
  }
}
.alert-wrapper{
  position:absolute;
  min-height:40px;
  margin:0;
  padding:5px 0 0 0;
  width:100%;
  top:50px;
}
#rotateRight, #rotateLeft{
  margin:5px 0;
  padding: 0px 10px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  box-sizing: border-box;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border:1px solid #555;
  border-radius:4px;
  background:#fff;
  color:#555;
  &:hover{
    background:#ccc;
  }
}

#loadFile{
  margin:10px 0;
}


